html, body { 
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

header {
    text-align: center;
}

#claim  {
   
    border-top: 1px solid #fcd528 ;
    font-size: smaller;
    background-color:#FDFBF1;
    color: #147474;
    text-align: center;
     
}

#caption {
    opacity: 0.5;
}
.green{
    font-weight: bold;
}
main {
    text-align: center;
}

