@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
html, body  {text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding :0;
    font-family:'Montserrat', sans-serif;
    color: #393d41  ;
    width: 100%;
    
}
header{
    background-color: black;
    text-align: center;
    height: 10vh; 
    padding:1em
}
header img {
    width: 200px;
    padding:1em;
    
    
}

#banner {
    background-image: url(../assets/banner.jpg);
    background-position:center;
    text-align:center;  
    padding:10%;
  
}

#banner h1 {
    margin: 0;
    line-height: 1.5;
    color: #25a2c3;
    padding:0;
    font-size: 2em;
   
}
h1, h4{
    
    color: #25a2c3;
}
button {
    background-color:#f04c2f ;
    font-style: bold;
    color: white;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 4px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;  
   
}

#firstcontent img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    padding:2vh;
  
}

#firstsection {
    width: 100%;
}
   
.redbox {
    background-color: red;
    padding: 10%;
    color: white;
    line-height: 1.6;

}

blockquote{
    font-style: italic;
    color: white
}
.claim{
    color: white;
    font-style:'Montserrat', sans-serif;
    font-size: 2em;
}